#trafficLight, #trafficLight2, #trafficLight3 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: black;
  }
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
